[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
betamax = "*"
flake8 = "*"
black = "==19.3b0"
isort = "*"
python-dotenv = "*"
betamax-serializers = "*"
pytest-cov = "*"
coverage = "*"
python-coveralls = "==2.9.3"
pytest-dotenv = "*"
mypy = "*"
pre-commit = "*"

[packages]
requests = "*"
pyjwt = "*"
python-coveralls = "==2.9.3"

[requires]
python_version = "3.7"
