[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
betamax = "*"
flake8 = "*"
black = "==19.3b0"
isort = "*"
python-dotenv = "*"
betamax-serializers = "*"
pytest-cov = "*"
coverage = "*"

[packages]
requests = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
